/*  your css code here. If applicable */
#signup-form{
	background-color: rgb(248, 249, 250);
	border:1px solid #ccc;
	border-radius:4px;
	padding:2rem;
	width:300px;
}
label{
	margin-bottom:0.5rem;
	font-size:1.2rem;
	font-weight:bold;
}
input{
	width:100%;
	border: 1px solid #ccc;
	padding:0.5rem;
	border-radius:4px;
	margin-bottom:1rem;
}
#submit {
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 12px 24px;   
    border-radius: 4px;
    font-weight: 700;
}